<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>ManyToManyServlet</servlet-name>
        <servlet-class>servlets.ManyToManyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManyToManyServlet</servlet-name>
        <url-pattern>/manyToMany</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>servlets.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main-servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OneToManyServlet</servlet-name>
        <servlet-class>servlets.OneToManyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OneToManyServlet</servlet-name>
        <url-pattern>/one-to-many</url-pattern>
    </servlet-mapping>


</web-app>